# Unity Test Results – Sprint

Date: YYYY-MM-DD

## Totals

* Edit Mode: passed 5 / failed 1
* Play Mode: passed 0 / failed 0

## Failures

* TC-3: <Will the Gameobject collide>, screenshot: TEST\_RESULTS/Test-Runner1.png

## Learnings \& Next Steps

* <I have learned that sometimes thigns just dont work and even when it takes weeks of work and 
  raises your blood pressure everytime you work on it, sometimes you just need to get it done>



**Expected: Gravity test success / success:** …
**Evidence:** TEST\_RESULTS/Test-Runner1.png / TEST\_RESULT\_HISTORY/2025-10-29\_13-57-14\_CoverageHistory.xml (paths)
**Env:** Unity <6000.057f1>, Windows 11 Pro, Windows 11, Test-Runner
**Links:** Test Case – ISSUE-1.md

**Severity:** Low



**Expected: RigidBody test success / Failure:** …
**Evidence:** TEST\_RESULTS/Test-Runner1.png / TEST\_RESULT\_HISTORY/2025-10-29\_13-57-14\_CoverageHistory.xml (paths)
**Env:** Unity <6000.057f1>, Windows 11 Pro, Windows 11, Test-Runner
**Links:** Test Case – ISSUE-3.md

**Severity:** Low



**Expected: Sceneload test success / succes:** …
**Evidence:** TEST\_RESULTS/Test-Runner1.png / TEST\_RESULT\_HISTORY/2025-10-29\_13-57-14\_CoverageHistory.xml (paths)
**Env:** Unity <6000.057f1>, Windows 11 Pro, Windows 11, Test-Runner
**Links:** Test Case – ISSUE-2.md

**Severity:** Low









